@charset "UTF-8";
* {
  box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
}

/* les variables*/ /*****************mixin acceuil ******************/
/********************* mixin resto *******************/
.logo-ohmyfood {
  display: flex;
  align-items: center;
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 65px;
}
.logo-ohmyfood .logo-img {
  width: 230px;
  height: 35px;
  padding-left: 40px;
}
.logo-ohmyfood .fa-arrow-left {
  font-size: 150%;
}

.img-resto {
  width: 414px;
  height: 240px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -40px;
  background-color: #F2F2F2;
  width: 414px;
  height: 1370px;
  padding-left: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu-2 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -40px;
  background-color: #F2F2F2;
  width: 414px;
  height: 1470px;
  padding-left: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title-and-heart {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 20px;
  padding-top: 2%;
  font-size: 170%;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  height: 80px;
}

.heart {
  margin-left: 0px;
  margin-top: 15px;
  font-size: 30px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
}

.heart-blanc {
  position: absolute;
  opacity: 1;
  transition: opacity 600ms ease;
}

.heart-violet {
  transform: scale(0);
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-stroke-width: 0px;
  transition: transform 500ms ease;
}

.heart:hover .heart-blanc {
  opacity: 0;
}

.heart:hover .heart-violet {
  transform: scale(1);
}

.titre-1 {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
}

.titre-2 {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
}

.titre-3 {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
}

.title-entr {
  margin-left: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.bordure-moitie {
  margin-top: -13px;
  padding-top: 0px;
  margin-left: 5%;
  width: 40px;
  height: 20px;
  border-bottom: solid;
  border-color: #99E2D0;
}

.btn-plat {
  display: flex;
  align-items: flex-end;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 385px;
  height: 80px;
  border-radius: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-left: 5px;
  transition: transform 300ms ease;
  animation: animation-card 500ms both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  resize: horizontal;
}

.choix-menu {
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-desc {
  width: 95%;
  height: 23px;
  background-color: white;
  border: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 120%;
  color: black;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-desc-compl {
  width: 95%;
  height: 23px;
  background-color: white;
  border: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 100%;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/********************/
/****************************/
.check-square {
  display: flex;
  position: absolute;
  height: 80px;
  width: 70px;
  background-color: #99E2D0;
  right: 0px;
  top: 0px;
  color: transparent;
  transform: translateX(100px);
  transition: transform 700ms ease-out;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  display: none;
}

.prix {
  font-family: "Roboto";
  font-weight: bold;
  transition: all 600ms ease-out;
  display: block;
  padding-right: 15px;
  margin-left: 39px;
  padding-top: 20px;
  height: 70px;
}

.check {
  position: absolute;
  font-size: 27px;
  top: 27px;
  left: 22px;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #99E2D0;
  background-color: white;
}

@keyframes check-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-plat:hover .check-square {
  transform: translateX(0px);
  display: block;
}

.btn-plat:hover .prix {
  transform: translateX(-90px);
  padding-left: 80px;
}

.btn-plat:hover .check {
  animation: check-rotate 1000ms both alternate ease;
}

/*******************************/
/*******************************/
.btn-1 {
  animation-delay: 50ms;
}

.btn-2 {
  animation-delay: 100ms;
}

.btn-3 {
  animation-delay: 150ms;
}

.btn-4 {
  animation-delay: 200ms;
}

.btn-5 {
  animation-delay: 250ms;
}

.btn-6 {
  animation-delay: 300ms;
}

.btn-7 {
  animation-delay: 350ms;
}

.btn-8 {
  animation-delay: 400ms;
}

.btn-9 {
  animation-delay: 450ms;
}

.btn-10 {
  animation-delay: 500ms;
}

@keyframes animation-card {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.bouton-commander {
  display: flex;
  justify-content: center;
  height: 60px;
}

.btn-commander {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  padding: 16px;
  font-size: 120%;
  width: 270px;
  height: 60px;
  margin-top: 35px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-commander:hover {
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

/*************************************/
.footer {
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 270px;
  padding-left: 25px;
  color: white;
  background-color: rgb(43, 42, 41);
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 120%;
}
.footer .footer-title {
  margin-bottom: 30px;
}
.footer .footer-element {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: bold;
}

.btn-resto {
  display: flex;
  width: 250px;
  background-color: rgb(43, 42, 41);
}
.btn-resto .fa-utensils {
  color: white;
}
.btn-resto .resto-text {
  background-color: rgb(43, 42, 41);
  color: white;
  margin-top: 0%;
  margin-left: 15px;
}

.btn-part {
  display: flex;
  width: 250px;
  background-color: rgb(43, 42, 41);
  margin-bottom: 20px;
}
.btn-part .fa-handshake-angle {
  color: white;
}
.btn-part .part-text {
  background-color: rgb(43, 42, 41);
  color: white;
  margin-top: 0%;
  margin-left: 10px;
  margin-bottom: 0px;
}

a p {
  color: white;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
}

/*# sourceMappingURL=resto.css.map */
