@charset "UTF-8";
* {
  box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
}

/* les variables*/
/********* mixin menu ************/
/********* mixin resto ************/
.fa-arrow-left {
  position: absolute;
  top: 3%;
  left: 10%;
  font-size: 150%;
}

.logo-ohmyfood {
  position: absolute;
  top: 3%;
  left: 30%;
  max-width: 40%;
}

.img-resto {
  position: absolute;
  top: 9%;
  left: 0%;
  width: 414px;
  height: 240px;
}

.entree {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  background-color: #F2F2F2;
  top: 33%;
  width: 414px;
  height: 1200px;
  left: 0%;
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.entree .title-alafran {
  padding-left: 5%;
  padding-top: 2%;
  font-size: 150%;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
}
.entree .fa-heart {
  position: absolute;
  top: 3%;
  left: 80%;
  font-size: 150%;
}

/*****************************/
.title-entr {
  position: absolute;
  top: 6%;
  left: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.bordure-moitie-1 {
  position: absolute;
  top: 7%;
  margin-top: 2%;
  margin-left: 5%;
  width: 40px;
  height: 20px;
  border-bottom: solid;
  border-color: #99E2D0;
}

.btn-1-entree {
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
  animation: animationbutton1 3s linear;
}
.btn-1-entree:active {
  width: 305px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

@keyframes animationbutton1 {
  0% {
    background-color: #f2f2f2;
    top: 11%;
  }
  100% {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03);
  }
}
.btn-2-entree {
  position: absolute;
  top: 17%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
  animation: animationbutton2 3s linear;
}

@keyframes animationbutton2 {
  0% {
    background-color: #f2f2f2;
    top: 18%;
  }
  100% {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03);
  }
}
.btn-3-entree {
  position: absolute;
  top: 24%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
  animation: animationbutton3 3s linear;
}

@keyframes animationbutton3 {
  0% {
    background-color: #f2f2f2;
    top: 25%;
  }
  100% {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03);
  }
}
.menu-entree {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0%;
  left: 3%;
  width: 280px;
  background-color: white;
  border: none;
  font-family: "Roboto";
  font-size: 120%;
  color: black;
  font-weight: bold;
  animation-name: animationmenu 3s linear;
}

@keyframes animationmenu {
  0% {
    background-color: #f2f2f2;
    color: #f2f2f2;
  }
  100% {
    background-color: white;
    color: black;
  }
}
.menu-entree-desc {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 37%;
  left: 3%;
  width: 280px;
  background-color: white;
  border: none;
  font-family: "Roboto";
  font-size: 100%;
  color: black;
  animation-name: animationdesc 3s linear;
}

@keyframes animationdesc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.prix {
  position: absolute;
  top: 40%;
  left: 89%;
  background-color: white;
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  font-size: 85%;
  animation-name: animationprix 3s linear;
}

@keyframes animationprix {
  0% {
    background-color: #f2f2f2;
    color: #f2f2f2;
  }
  100% {
    background-color: white;
    color: black;
  }
}
.checked {
  position: absolute;
  top: 10%;
  left: 78%;
  width: 65px;
  height: 70px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  background-color: #99E2D0;
  animation-name: animationcheck 3s linear;
}
.checked .fa-circle-check {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 150%;
  color: white;
  animation-name: animationcheck 3s linear;
}

@keyframes animationcheck {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
/*****************************/
.title-plats {
  position: absolute;
  top: 31%;
  left: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.bordure-moitie-2 {
  position: absolute;
  top: 32%;
  margin-top: 2%;
  margin-left: 5%;
  width: 40px;
  height: 20px;
  border-bottom: solid;
  border-color: #99E2D0;
}

.btn-1-plats {
  position: absolute;
  top: 35%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
}

.btn-2-plats {
  position: absolute;
  top: 42%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
}

.btn-3-plats {
  position: absolute;
  top: 49%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
}

/********************************/
.title-dessert {
  position: absolute;
  top: 56%;
  left: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.bordure-moitie-3 {
  position: absolute;
  top: 57%;
  margin-top: 2%;
  margin-left: 5%;
  width: 40px;
  height: 20px;
  border-bottom: solid;
  border-color: #99E2D0;
}

.btn-1-dessert {
  position: absolute;
  top: 60%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
}

.btn-2-dessert {
  position: absolute;
  top: 67%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
}

.btn-3-dessert {
  position: absolute;
  top: 74%;
  left: 5%;
  background-color: white;
  cursor: pointer;
  border: none;
  width: 370px;
  height: 70px;
  border-radius: 17px;
}

/************************************/
.btn-commander {
  position: absolute;
  top: 86%;
  left: 20%;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  padding: 16px;
  font-size: 100%;
  width: 250px;
  height: 61px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-commander:hover {
  background: linear-gradient(#FF79DA, white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/*************************************/
.footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 414px;
  height: 250px;
  top: 195%;
  left: 0%;
  padding-left: 25px;
  color: white;
  background-color: rgb(43, 42, 41);
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
.footer .footer-title {
  margin-bottom: 30px;
}
.footer .footer-element {
  font-family: "Roboto", sans-serif;
}

.btn-resto {
  display: flex;
  width: 250px;
  background-color: rgb(43, 42, 41);
}
.btn-resto .fa-utensils {
  color: white;
}
.btn-resto .resto-text {
  position: relative;
  top: 10%;
  background-color: rgb(43, 42, 41);
  color: white;
  margin-top: 0%;
  margin-left: 15px;
}

.btn-part {
  display: flex;
  width: 250px;
  background-color: rgb(43, 42, 41);
}
.btn-part .fa-handshake-angle {
  color: white;
}
.btn-part .part-text {
  position: relative;
  top: 10%;
  background-color: rgb(43, 42, 41);
  color: white;
  margin-top: 0%;
  margin-left: 10px;
  margin-bottom: 0%;
}

/*# sourceMappingURL=resto.css.map */
