/* Error: Missing argument $paddingbttom.
 *    ,--> scss\styleDesktop.scss
 * 194|     @include etapeexploration (0px,7px,$taille-police-grande)
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> scss\mixins.scss
 * 29 | @mixin etapeexploration ($top,$paddingtop,$bottom,$paddingbttom,$taillepolice){
 *    |        ======================================================================= declaration
 *    '
 *   scss\styleDesktop.scss 194:5  etapeexploration()
 *   scss\styleDesktop.scss 194:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $paddingbttom.\a    \250c \2500 \2500 > scss\\styleDesktop.scss\a 194\2502      @include etapeexploration (0px,7px,$taille-police-grande)\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > scss\\mixins.scss\a 29 \2502  @mixin etapeexploration ($top,$paddingtop,$bottom,$paddingbttom,$taillepolice){\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   scss\\styleDesktop.scss 194:5  etapeexploration()\a   scss\\styleDesktop.scss 194:5  root stylesheet";
}
