.loader{

margin:auto;
margin-top:100px;
margin-bottom:100px;
position:absolute;
top:23%;
left:33%;
border:16px solid #9356DC;
width:120px;
height:120px;
border-top-color:#FF79DA;
border-bottom-color:#99E2D0;
border-radius:50%;
animation: chargeur 3s linear infinite ;

}

@keyframes chargeur{

0%{
    -webkit-transform:rotate(0deg) scale(1);
border-top-color: red;
border-bottom-color: red;
}

25%{

border-top-color:blue;
border-bottom-color:blue;
}

50%{
    -webkit-transform:rotate(360deg) scale(1);
border-top-color: red;
border-bottom-color: red;
}

75%{

border-top-color:green;
border-bottom-color:green;
}


100%{
    -webkit-transform:rotate(720deg) scale(1);
border-top-color:red;
border-bottom-color:red;

}
}