
/********* mixin menu ************/


@mixin logoohmyfood(){

    position:absolute;
    top:3%;
    left:30%;
    max-width: 40%;
}

@mixin location(){
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 9%;
    left: 0%;
    background-color: $grismoyen;
    color: black;
    cursor: pointer;
    border: none;
    width: 414px;
    height: 60px;
    padding-top: 15px;
}

@mixin textlocation(){
        
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:absolute;
    top:1%;
    left:35%;
    margin-left: 10px;
    background-color: $grismoyen;
    border: none;
    font-family: $policetext;
    font-weight: bold;
    font-size: $taille-police-normal;
}

@mixin iconelocation (){
    position:absolute;
    left:30%;
    font-size: $taille-police-normal;
}

@mixin notification($align,$top,$height){
    display:flex;
    flex-direction: column;
    align-items: $align;
    position:absolute;
    background-color: $grisclair;
    top:$top;
    width: 414px;
    height: $height;
}

@mixin positionreserv ($position){

    position:absolute;
    top:$position;
    margin-top:0%;
    font-family: $policetext;
    font-weight: bold;
}

@mixin boutonexplorer($top,$height){
    position :absolute;
    top:$top;
    left:20%;
    background: linear-gradient($rose,$violet);
    border: none;
    color: white;
    padding: 16px;
    font-size: $taille-police-normal;
    width: 250px;
    height: $height;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    font-family: $policetext;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

@mixin boutonfonct(){

    display: flex;
    flex-direction: row;
    position: relative;
    background-color: $grisclair;
    color: grey;
    cursor: pointer;
    border: none;
    width: 370px;
    height: 70px;
    padding-top: 25px;
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); 
}

@mixin boutonnv(){

position :absolute;
left:70%;
top:5%;
background-color: $vert;
border: none;
color: green;
padding: 7px;
font-size: $taille-police-normal;
width: 100px;
height: 30px;
font-weight: bold;
cursor: pointer;
font-family: $policetext;
}

@mixin etapefonct(){

    position:absolute;
    top: 15%;
    left:20%;
    color:black;
    background-color: $grisclair;
    border: none;
    font-family: $policetext;
    font-weight: bold;
    font-size: $taille-police-normal;
    
}

@mixin iconefonct (){

    position:relative;
    left:8%;
    padding-right: 15px;
    font-size:$taille-police-moyenne;
}
@mixin chiffre ($hauteur){
    display:flex;
    justify-content: center;
    position :absolute;
    top:$hauteur;
    left:-2%;
    height: 25px; 
    width: 25px; 
    color:white;
    background-color: $violet;
    border: solid ;
    padding-top:1px;
    border-color:$violet;
    border-radius: 50%; 
    font-family: $policetext;
    font-weight: bold;
}

@mixin restaurants($paddingtop,$taillepolice,$police){

    padding-left:5%;
    padding-top: $paddingtop;
    font-size: $taillepolice;
    font-weight: bold;
    font-family:$police;
    

}

@mixin les4resto(){

    display: flex;
    flex-direction: column;
    position: absolute;
    width:414px;
    height: 1300px;
    margin-top: 20px;
    top: 115%;
    left: 0%;
    background-color: $grisclair;

}

@mixin carteresto ($position){
    text-align: left;
    background-color: white;
    position: absolute;
    margin-left: 20px;
    margin-right: 25PX;
    width: 90%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0/ 20%);
    padding: 0px;
    border-radius: 20px;
    top:$position;

}
@mixin imageresto(){
    width: 100%;
    height: 70%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    object-fit: cover;
}
@mixin imgdescription(){
    margin-top: 5Px;
    margin-bottom: 5px;
    margin-left: 5px;
}

@mixin positionabsolut($top,$left){
    position: absolute;
    top: $top;
    left: $left;
}

@mixin footerohmyfood($top){
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 414px;
    height: 250px;
    top: $top;
    left: 0%;
    padding-left: 25px;
    color:white;
    background-color:$noirfooter;
    font-family: $policetitle ;
    font-weight:normal;

}

@mixin iconefooter ($margin){
    position:relative;
    top:10%;
    background-color: $noirfooter;
    color:white;
    margin-top: 0%;
    margin-left: $margin;
}
@mixin boutonfooter(){
    display:flex;
    width: 250px;
    background-color: $noirfooter; 
}

/********* mixin resto ************/
@mixin btnactive(){
    width :305px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

@mixin borduremoitie ($top){
    position:absolute;
    top:$top;
    margin-top:2%;
    margin-left:5%;
    width: 40px;
    height:20px ;
    border-bottom:solid;
    border-color:$vert;  
}

@mixin boutonmenu($top){
    position: absolute;
    top:$top;
    left: 5%;
    background-color:white;
    cursor: pointer;
    border: none;
    width: 370px;
    height: 70px;
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
@mixin textmenu($top,$taillepolice){
    display: flex;
    justify-content: flex-start ;
    position:absolute;
    top:$top;
    left:3%;
    width: 280px;
    background-color: white;
    border: none;
    font-family: 'Roboto';
    font-size: $taillepolice;
    color:black;
}
@mixin prixmenu (){
    position:absolute;
    top:40%;
    left:89%;
    background-color:white;
    font-family: 'Roboto';
    font-weight: bold;
    color:black;
    font-size: 85%;
}