* {
  box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
}

body{
  font-family: 'Roboto';
}

/**************************************/

@import './utils/variables.scss';
@import './utils/mixins.scss';
@import './animation/loader.scss';
@import './Layout/footer.scss';
@import './Layout/header.scss';
@import './base/exploration.scss';
@import './base/fonctionnement.scss';
@import './base/restaurants.scss';

/**************************************/

.heart {

  margin-right: 15px;
  font-size: 30px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
}

.heart-blanc {
  position: absolute;
  opacity: 1;
  transition: opacity 600ms ease;
}

.heart-violet {
  transform: scale(0);
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-stroke-width: 0px;
  transition: transform 500ms ease;
}

.heart:hover .heart-blanc {
  opacity: 0;
}

.heart:hover .heart-violet {
  transform: scale(1);
}

/************************************* style des pages restaurants******************/
/***********************************************************************************/


.img-resto {

  object-fit: cover;
  width: 100%;
  height: 240px;
}

.menu {

  @include hauteurmenu (1370px, 100%);

}

.menu-2 {

  @include hauteurmenu (1470px, 100%);

}

.title-and-heart-2 {

  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 20px;
  padding-top: 2%;
  font-size: 170%;
  font-weight: bold;
  font-family: $policetitle;
  margin-top: 10px;
  height: 80px;

}

.heart-2 {

  margin-left: 0px;
  margin-top: 15px;
  font-size: 30px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
}

.heart-blanc-2 {
  position: absolute;
  opacity: 1;
  transition: opacity 600ms ease;
}

.heart-violet-2 {
  transform: scale(0);
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-stroke-width: 0px;
  transition: transform 500ms ease;
}

.heart-2:hover .heart-blanc-2 {
  opacity: 0;
}

.heart-2:hover .heart-violet-2 {
  transform: scale(1);
}

.titre-1 {

  @include titre();

}

.titre-2 {

  @include titre();

}

.titre-3 {

  @include titre();

}

.title-entr {

  margin-left: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 20px;
  font-weight: bold;

}

.bordure-moitie {

  margin-top: -13px;
  padding-top: 0px;
  margin-left: 5%;
  width: 40px;
  height: 20px;
  border-bottom: solid;
  border-color: $vert;

}

.btn-plat {

  display: flex;
  align-items: flex-end;
  background-color: white;
  border: none;
  width: 93%;
  height: 80px;
  border-radius: 17px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0/ 20%);
  margin-bottom: 20px;
  margin-left: 5px;
  overflow: hidden;
  transition: transform 300ms ease;
  animation: animation-card 1000ms both;

}

.choix-menu {
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80px;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-desc {

  @include menudescription (95%, $taille-police-moyenne, 15px);
  font-weight: bold;

}

.menu-desc-compl {

  @include menudescription (95%, $taille-police-normal, 5px);

}

/********************/

/****************************/

.check-square {

  display: flex;
  position: absolute;
  height: 90px;
  width: 80px;
  background-color: #99E2D0;
  right: 0px;
  top: 0px;
  color: transparent;
  transform: translateX(100px);
  transition: transform 500ms ease-out;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;

}

.btn-plat:hover .check-square {
  transform: translateX(0px);

}

.prix {

  font-weight: bold;
  transition: all 600ms ease-out;
  padding-right: 15px;
  margin-left: 39px;
  padding-top: 15px;
  height: 70px;
}

.btn-plat:hover .prix {
  transform: translateX(-80px);
  padding-left: 90px;
}

.check {
  position: absolute;
  font-size: 27px;
  top: 27px;
  left: 22px;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #99E2D0;
  background-color: white;
}

.btn-plat:hover .check {
  animation: check-rotate 700ms both alternate ease;
}

@keyframes check-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*******************************/
/*******************************/

.btn-1 {
  animation-delay: 50ms;
}

.btn-2 {
  animation-delay: 100ms;
}

.btn-3 {
  animation-delay: 150ms;
}

.btn-4 {
  animation-delay: 200ms;
}

.btn-5 {
  animation-delay: 250ms;
}

.btn-6 {
  animation-delay: 300ms;
}

.btn-7 {
  animation-delay: 350ms;
}

.btn-8 {
  animation-delay: 400ms;
}

.btn-9 {
  animation-delay: 450ms;
}

.btn-10 {
  animation-delay: 500ms;
}

@keyframes animation-card {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.bouton-commander {
  display: flex;
  justify-content: center;
  height: 60px;
}

.btn-commander {
  display: flex;
  justify-content: space-around;
  background: linear-gradient($rose, $violet);
  border: none;
  color: white;
  padding: 16px;
  font-size: $taille-police-moyenne;
  width: 270px;
  height: 60px;
  margin-top: 35px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

  &:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 100%);
  }
}

@media screen and (min-width: 992px) {


  .img-resto {
    width: 100%;
  }

  .menu {
    @include hauteurmenu (1370px, 100%);
  }

  .menu-2 {
    @include hauteurmenu (1470px, 100%);
  }

  .bordure-moitie {
    margin-left: 20px;
  }

  .heart-2 {
    margin-right: 10px;
  }

  .btn-plat {
    width: 97%;
    margin-left: 10px;
  }

  .choix-menu {
    width: 84%;
  }

  .menu-desc {
    @include menudescription (90%, $taille-police-grande, 15px);
 
  }

  .menu-desc-compl {
    @include menudescription (95%, $taille-police-moyenne, 5px);
  }

  .prix {
    font-size: $taille-police-moyenne;
  }

}