/* les variables*/
$violet : #9356DC; 
$rose : #FF79DA ;
$vert : #99E2D0 ;
$grisclair :#F2F2F2;
$grismoyen :#e7e5e5;
$dark: rgba(0, 0, 0, 0.8);
$noirfooter:rgb(43, 42, 41);
$policetitle : 'Shrikhand', cursive;
$policetext :'Roboto', sans-serif;
$taille-police-grande :150%;
$taille-police-moyenne : 120%;
$taille-police-normal :100%;