@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.loader-circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $dark;
  animation: loader 3s forwards;
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.loader .loader-circle {
  opacity: 0.5;
  transform: scale(1);
}

.loader-circle>div>div {

  border: 5px solid #9356DC;
  border-radius: 50%;
  animation: rotate 3s linear;
  border-left-color: #FF79DA;
  width: 100%;
  height: 100%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loader-circle>div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 2000px $dark;
  width: 300px;
  height: 300px;
  padding: 5px;
}

.loader .loader-circle i {
  font-size: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #9356DC;
  width: 150px;
  height: 150px;
  line-height: 1;
  transform: scale(0) translate3d(0, 0, 0);
}

.loader .loader-circle i:nth-of-type(1) {
  animation: loadicons 3s ease-in-out;
}
.loader .loader-circle i:nth-of-type(2) {
  animation: loadicons 3s 1s ease-in-out;
}
.loader .loader-circle i:nth-of-type(3) {
  animation: loadicons 3s 2s ease-in-out;
}

@keyframes loadicons {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  11% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }
  22% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  33% {
    transform: scale(0) translate3d(0, 0, 0);
  }
}


