
.exploration {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grisclair;
    margin-bottom: 0px;
    width: 100%;
    height: 350px;
  
    .exp-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
    }
  
    .exp-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #reservez1 {
      @include etapeexploration (0px, 0px, 7px, 0px, $taille-police-grande);
  
    }
  
    #reservez2 {
      @include etapeexploration (0px, 0px, 0px, 0px, $taille-police-grande);
    }
  
    #decouvrez1 {
      @include etapeexploration (35px, 0px, 7px, 0px, $taille-police-moyenne);
  
    }
  
    #decouvrez2 {
      @include etapeexploration (0px, 0px, 0px, 0px, $taille-police-moyenne);
  
    }
  
    .btn-explorer {
  
      display: flex;
      justify-content: space-around;
      background: linear-gradient($rose, $violet);
      border: none;
      color: white;
      padding: 16px;
      font-size: $taille-police-moyenne;
      width: 270px;
      height: 60px;
      margin-top: 35px;
      font-weight: 1000;
      cursor: pointer;
      border-radius: 25px;
      opacity: 1;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  
      &:hover {
        opacity: 0.9;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 100%);
      }
    }
  }

  @media screen and (min-width: 992px) {

    .btn-Location {
      width: 100%;
    }
  
    .exploration {
      display: flex;
      width: 100%;
    }
  
    .exp-1 {
      flex-direction: row !important;
    }
  
    .exp-2 {
      flex-direction: row !important;
    }
  
    #reservez1 {
      @include etapeexploration (0px, 0px, 7px, 0px, $taille-police-grande);
    }
  
    #reservez2 {
      @include etapeexploration (0px, 0px, 0px, 8px !important, $taille-police-grande);
      padding-left: 6px !important;
    }
  
    #decouvrez1 {
      @include etapeexploration (35px, 0px, 7px, 0px, $taille-police-moyenne);
    }
  
    #decouvrez2 {
      @include etapeexploration (35px, 28px !important, 7px, 0px, $taille-police-moyenne);
      padding-left: 6px !important;
    }
  }
  
@media screen and (min-width: 768px) and (max-width: 991px) {
  
    .btn-Location {
      width: 100%;
    }
  
    .exploration {
      display: flex;
      width: 100%;
    }
  
    .exp-1 {
      flex-direction: row !important;
    }
  
    .exp-2 {
      flex-direction: row !important;
    }
  
    #reservez1 {
      @include etapeexploration (0px, 0px, 7px, 0px, $taille-police-grande);
    }
  
    #reservez2 {
      @include etapeexploration (0px, 0px, 0px, 8px !important, $taille-police-grande);
      padding-left: 6px !important;
    }
  
    #decouvrez1 {
      @include etapeexploration (35px, 0px, 7px, 0px, $taille-police-moyenne);
    }
  
    #decouvrez2 {
      @include etapeexploration (35px, 28px !important, 7px, 0px, $taille-police-moyenne);
      padding-left: 6px !important;
    }
}  