
.restaurants {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1240px;
    margin-top: 60px;
    padding-bottom: 10px;
    background-color: $grisclair;
  
  }
  
  .title-restaurants {
  
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
  
  }
  
  .card-restaurant {
  
    text-align: left;
    background-color: white;
    margin-left: 20px;

    margin-bottom: 25px;
    width: 90%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0/ 20%);
    border-radius: 20px;
  
  }
  
  .img-restaurant {
  
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    margin-bottom: 0px;
  
  }
  
  .nouveau-1{
    position: relative;
  }
  
  .nouveau-2{
    position: relative;
  }
  
  .btn-nouveau-1 {
    @include boutonnv(5%, 65%);
  }
  
  .btn-nouveau-2 {
    @include boutonnv(5%, 65%);
  }
  
  .restaurant-img-text-title {
    @include imgdescription(50%);
    font-weight: bold;
  }
  
  .restaurant-img-text-desc {
    @include imgdescription(50%);
  }
  
  .title-and-heart {
  
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    height: 25px;
  
  }

@media screen and (min-width: 992px) {

    .nouveau-1{
      position: relative;
    }
    
    .nouveau-2{
      position: relative;
    }
    
    .btn-nouveau-1 {
  
      @include boutonnv(4%, 77%);
    }
  
    .btn-nouveau-2 {
      @include boutonnv(4%, 77%);
    }
  
    .restaurants {

      width: 100%;
      height:auto;
    }
  
    .card-restaurant {
  
      width: 45%;
      border-radius: 20px;
    }
  
      .img-restaurant {
      width: 100%;
      border-top-left-radius:20px;
      border-top-right-radius: 20px;
    }
  
    .les-4-resto {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin : auto;
      width: 95%;
    }
  
    .restaurant-img-text-title {
      @include imgdescription(67%);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .restaurants {
      width: 100%;
    }
  
    .card-restaurant {
      margin-left: 40px;
      border-radius:20px;
    }
  
    .img-restaurant {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .les-4-resto {
    
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      width: 90%;
    }

    .nouveau-1{
      position: relative;
    }
    
    .nouveau-2{
      position: relative;
    }
    
    .btn-nouveau-1 {
      @include boutonnv(3%, 83%);
    }
  
    .btn-nouveau-2 {
      @include boutonnv(3%, 83%);
    }
  
    .restaurant-img-text-title {
      @include imgdescription(78%);
    }
  
    .restaurant-img-text-desc {
      @include imgdescription(78%);
    }
  
    .title-and-heart {
      display:flex;
      justify-content: space-between;
      margin-right: 30px;
    }
}  